.main-tabs button{
    width: 100%;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    background-color: orange;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 21px;
    outline: none;
}
.main-tabs button:hover{
    background-color: rebeccapurple;
    border-color: #8de983;
    border-style: dashed;
}
.main-tabs button.active{
    background-color: rebeccapurple;
    border-color: #8de983;
    border-style: solid!important;
    cursor: default;
}

.row.main-grid{
    margin-top: 20px;
}
.main-grid__card{
    width: 100%;
    margin: 10px 0;
}
.main-grid__card img{
    height: 180px;
    width: 100%;
    margin-bottom: 5px;
}
.main-grid__card .card-title{
    height: 29px;
    width: 90%;
    margin: auto auto 10px;
}
.main-grid__card .card-title a{
    color: black;
    text-decoration: none;
}
.main-grid__card .card-title h4{
    display: inline-block;
    margin-bottom: 0;
}
.main-grid__card .card-title span{
    float: right;
    line-height: 29px;
    font-weight: 700;
    opacity: 0.5;
}

.main-grid__card .card-description{
    width: 90%;
    margin: auto auto 10px;
    min-height: 60px;
}
.main-grid__card .card-description h5{
    opacity: 0.6;
    font-size: 17px;
}

.main-grid__card .card-buying{
    width: 95%;
    margin: auto;
}
.main-grid__card .card-buying .price{
    padding: 0;
    height: 32px;
}
.main-grid__card .card-buying .price span{
    font-family: 'Grandstander', cursive;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}
.main-grid__card .card-buying .to-cart{
    padding-right: 0;
    text-align: right;
    height: 32px;
}
.main-grid__card .card-buying .to-cart span{
    font-size: 19px;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    line-height: 32px;
    padding: 0 5px;
}
.main-grid__card .card-buying .to-cart button{
    height: 27px;
    width: 27px;
    border-radius: 15px;
    background-color: orange;
    font-size: 15px;
    font-weight: 800;
    padding-top: 0;
    outline: none;
}
