.profile-info{
    margin-top: 3%;
    padding: 10px;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
}

.profile-order-history__title{
    margin-top: 5%;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

.profile-order-history{
    margin-top: 2%;
    font-size: 19px;
    font-weight: 500;
}

.profile-order-history .order{
    margin-bottom: 5px;
}
.profile-order-history .order .order-border{
    border: 2px solid orange;
    border-radius: 10px;
}
.profile-order-history .order .header{
    margin-bottom: 5px;
}
.profile-order-history .order .line{
    width: 75%;
    margin: auto;
    height: 1px;
    background-color: #958c7e38;
}
.profile-order-history .item-list-title{
    margin: 5px 0;
    text-align: center;
}

.profile-order-history .item-list{
    padding-bottom: 5px;
}
.profile-order-history .item-list .item{
    margin-bottom: 3px;
    border-bottom: 1px solid #958c7e38;
}
.profile-order-history .item-list .image img{
    height: 100%;
    width: 100%;
}
.profile-order-history .expand-arrow{
    text-align: center;
    padding-bottom: 3px;
}
.profile-order-history .expand-arrow button{
    padding: 0 5px;
    border: none;
    background-color: orange;
    outline: none;
}
.profile-order-history .expand-arrow i{
    font-weight: 900;
}
